/* BACKDROP+MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 1000ms, visibility 1000ms;

  background: rgba(0, 0, 0, 0.6);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.backdrop .modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    width: 90%;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal-close {
  position: absolute;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;

  svg {
    scale: 0.6;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    top: 12px;
    right: 12px;

    width: 30px;
    height: 30px;

    svg {
      scale: 0.8;
    }
  }
}

.modal__title {
  margin-bottom: 14px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

/* FORM */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;

  @media screen and (min-width: 480px) {
    padding: 40px;
  }
}

.form__lable {
  position: relative;

  display: flex;
  flex-direction: column;

  color: var(--text-color);
}

.form__lable + .form__lable {
  margin-top: 10px;
}

.form__title {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.01em;
}

.form__input {
  display: flex;
  flex-direction: column;

  height: 40px;

  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover + .form__icon,
  &:focus + .form__icon {
    fill: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    max-width: 370px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form__icon {
  position: absolute;

  top: 30px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.comment-area {
  resize: none;
  padding: 12px 16px;

  height: 120px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  &::placeholder {
    font-size: 14px;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  display: inline-block;

  width: 24px;
  height: 24px;
  margin-right: 8px;

  border: 1px solid #2a2a2a;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }
}

.checkbox:checked + .check-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/Vector1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}

.form__checkbox {
  display: flex;

  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }

  &-text {
    width: 100%;
  }
}
